version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: cinema_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: maya
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    restart: unless-stopped

volumes:
  postgres_data: